# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autotools
autom4te.cache/
Makefile.in
aclocal.m4
configure
include/config.h.in
install-sh
missing
Makefile
config.log
config.status
include/config.h
include/stamp-h1
